LightControllerReceiver/Connected Services/LumenService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:48693/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LightControllerRestService" />
  <xs:element name="AddLumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LightControllerRestService" minOccurs="0" name="lumen" nillable="true" type="q1:Lumen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LightControllerRestService" minOccurs="0" name="AddLumenResult" nillable="true" type="q2:Lumen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLumen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LightControllerRestService" minOccurs="0" name="GetLumenResult" nillable="true" type="q3:ArrayOfLumen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLumenByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLumenByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LightControllerRestService" minOccurs="0" name="GetLumenByIDResult" nillable="true" type="q4:ArrayOfLumen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLumenByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLumenByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LightControllerRestService" minOccurs="0" name="GetLumenByDateResult" nillable="true" type="q5:ArrayOfLumen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LightControllerRestService" minOccurs="0" name="lumen" nillable="true" type="q6:Lumen" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LightControllerRestService" minOccurs="0" name="UpdateLumenResult" nillable="true" type="q7:Lumen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLumen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LightControllerRestService" minOccurs="0" name="DeleteLumenResult" nillable="true" type="q8:ArrayOfLumen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLumenByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLumenByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LightControllerRestService" minOccurs="0" name="DeleteLumenByIDResult" nillable="true" type="q9:ArrayOfLumen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="limit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLimitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLimitResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LightControllerRestService" minOccurs="0" name="timer" nillable="true" type="q10:setTimer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTimerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeather">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LightControllerRestService" minOccurs="0" name="GetWeatherResult" nillable="true" type="q11:ArrayOfWeather" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemperature">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemperatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LightControllerRestService" minOccurs="0" name="GetTemperatureResult" nillable="true" type="q12:ArrayOfTemperature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>