LightControllerReceiver/Connected Services/LumenService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LightControllerRestService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LightControllerRestService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Lumen">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lumen" nillable="true" type="tns:Lumen" />
  <xs:complexType name="ArrayOfLumen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lumen" nillable="true" type="tns:Lumen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLumen" nillable="true" type="tns:ArrayOfLumen" />
  <xs:complexType name="setTimer">
    <xs:sequence>
      <xs:element minOccurs="0" name="TimerEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimerStart" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="setTimer" nillable="true" type="tns:setTimer" />
  <xs:complexType name="ArrayOfWeather">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Weather" nillable="true" type="tns:Weather" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeather" nillable="true" type="tns:ArrayOfWeather" />
  <xs:complexType name="Weather">
    <xs:sequence>
      <xs:element minOccurs="0" name="From" type="xs:dateTime" />
      <xs:element minOccurs="0" name="To" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Vejret" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Weather" nillable="true" type="tns:Weather" />
  <xs:complexType name="ArrayOfTemperature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Temperature" nillable="true" type="tns:Temperature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemperature" nillable="true" type="tns:ArrayOfTemperature" />
  <xs:complexType name="Temperature">
    <xs:sequence>
      <xs:element minOccurs="0" name="From" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Temperatur" type="xs:int" />
      <xs:element minOccurs="0" name="To" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Temperature" nillable="true" type="tns:Temperature" />
</xs:schema>